h1 {
  opacity: 0;
}

header img {
  width: 70%;
  height: auto;
}

header {
  text-align: Center;
  background-image: url("../img/hotel6.jpg");
  background-position: 0 -30px;
  background-size: 100%;
  transition: ease 1s;
}
footer .card-header {
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
  font-size: 20pt;
}
footer .card-body {
  background-color: rgb(100, 100, 100);
  color: white;
  text-align: center;
}

#home1 {
  background-color: rgba(255, 255, 255, 95%);
  padding: 100px;
  margin-bottom: 200px;
  text-align: justify;
}

#home2 {
  background-color: rgba(255, 255, 255, 100%);
  padding: 40px;
  text-align: justify;
}

#imgHome {
  text-align: center;
}

#imgHome img {
  width: 400px;
  height: 350px;
  margin: 0 10px;
  transition: ease 1s;
  opacity: 50%;
}

#imgHome img:hover {
  opacity: 100%;
  cursor: pointer;
}

#imglazer img {
  width: 200px;
  height: 180px;
  margin: 10px;
  cursor: pointer;
}
#imglazer {
  text-align: center;
}

#imglazer img:hover {
  opacity: 80%;
}
